<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Portfolio Test Suite" verbose="1">

    <test name="UI Tests">
        <classes>
<!--            <class name="tests.ui.LoginTest"/>-->
<!--            <class name="tests.ui.RegisterTest"/>-->
<!--            <class name="tests.ui.ProductTest"/>-->
<!--            <class name="tests.ui.CartTest"/>-->
<!--            <class name="tests.ui.ContactTest"/>-->
<!--            <class name="tests.ui.SubscriptionTest"/>-->
<!--            <class name="tests.ui.QuantityTest"/>-->
<!--            <class name="tests.ui.PlaceOrderTest"/>-->
            <class name="tests.ui.CategoryTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="tests.api.ProductApiTest"/>
            <class name="tests.api.BrandApiTest"/>
            <class name="tests.api.SearchApiTest"/>
            <class name="tests.api.UserApiTest"/>
        </classes>
    </test>

</suite>
